<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board SNS - Post Detail</title>
</head>
<body>
    <section class="main-container">
        <nav>
            <li><a href="/">HOME</a></li>
            <li><a href="/board/board">BOARD</a></li>
            <li><a href="/user/mypage">MYPAGE</a></li>
            <li><a href="/user/login">LOGIN</a></li>
        </nav>
        <div class="post-detail-container">
            <h1>글 상세 정보</h1>
            <table>
                <tr>
                    <th>번호</th>
                    <td>1</td> <!-- 글 번호 -->
                </tr>
                <tr>
                    <th>제목</th>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td> <!-- 글 제목 -->
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>beom5110</td> <!-- 작성자 -->
                </tr>
                <tr>
                    <th class="boardBody">내용</th>
                    <td style="text-align: left;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </td> <!-- 글 내용 -->
                </tr>
                <tr>
                    <th>등록일</th>
                    <td>2024-11-15</td> <!-- 등록일 -->
                </tr>
                <tr>
                    <th>조회수</th>
                    <td>120</td> <!-- 조회수 -->
                </tr>
            </table>
        </div>
    </section>
</body>
</html>
