<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board SNS HomePage</title>
</head>
<body>
    <section class="main-container">
        <nav>
            <li><a href="/">HOME</a></li>
            <li><a href="/board/board">BOARD</a></li>
            <li><a href="/user/mypage">MYPAGE</a></li>
            <li><a href="/user/login">LOGIN</a></li>
        </nav>

    </section>


</body>
</html>